<app-navbar></app-navbar>
<section>
    <div class="titulo">
        <span>
            Contatos
        </span>
    </div>
</section>
<section>
    <div class="button_new_contact button_primay_customized">
        <button style=" background-color #007bff !important;" mat-raised-button color="primary">Novo contato</button>
    </div>
</section>
<section>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Emal</th>
                    <th scope="col">Fone</th>
                    <th scope="col">Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Nome">mark</td>
                    <td data-label="Email">mark</td>
                    <td data-label="Fone">mark</td>
                    <td data-label="Menu">mark</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>