<app-navbar></app-navbar>
<section>
    <div class="titulo">
        <span>
            Contatos 
        </span>
    </div>
</section>
<section>
    <div class="button_new_contact button_primay_customized">
        <button style=" background-color #007bff !important;" mat-raised-button color="primary" (click)="goToCreate()">Novo contato</button>
    </div>
</section>
<section>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fone</th>
                    <th scope="col">Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contactList">
                    <td data-label="Nome">{{contact.name}}</td>
                    <td data-label="Email">{{contact.email}}</td>
                    <td data-label="Fone">{{contact.phone}}</td>
                    
                    <td data-label="Menu"> 
                        <button><i class="material-icons" (click)="editContact(contact)">edit</i></button> 
                        <button class="button_delete"><i class="material-icons" (click)="deleteContact(contact.id)">delete</i></button>                     
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>