<app-navbar></app-navbar>
<section>
    <div class="titulo">
        <span>Cadastrar novo Contato</span>
    </div>
</section>
<section class="formulario">
    <div>
        <form>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Nome:" type="text" value="">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Phone:" type="text" value="">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email:" type="text" value="">
                </mat-form-field>
            </mat-card-content>
        </form>
    </div>
    <div>
        <mat-card-actions class="button_new_contact">
            <button mat-raised-button color="primary">Salvar Contato</button>
        </mat-card-actions>
    </div>
</section>