<app-navbar></app-navbar>
<section>
    <div class="titulo">
        <span>Novo Usuário</span>
    </div>
</section>
<section  >
    <div>
        <form class="formulario" [formGroup]="userForm">
            
            <div>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="email:" type="text" formControlName="username">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nome completo:" type="text" formControlName="name">
                    </mat-form-field>
                </mat-card-content>
            </div>
            
            <div>
                <mat-card-content>
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Senha:" type="password" formControlName="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field >
                        <input matInput placeholder="Admin" type="boolean" formControlName="admin">
                    </mat-form-field>
                </div>
                </mat-card-content>
            </div>
            
            <div>
                <div>
                    <mat-card-actions class="button_new_contact" [ngStyle]="{'display': user === null ? 'block' : 'none' }">
                        <button mat-raised-button color="primary" (click)="createUsers()">Salvar Usuário</button>
                    </mat-card-actions>
                </div>
                <div>   
                    <mat-card-actions class="button_new_contact" [ngStyle]="{'display': user !== null ? 'block' : 'none' }">
                        <button mat-raised-button color="primary" (click)="updateUsers()">Atualizar Usuário</button>
                    </mat-card-actions>
                </div>
            </div>

        </form>

    </div>
</section>